name: Test and Lint Nix Config

on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:
  workflow_run:
    workflows:
      - "Update Flakes"
    types:
      - completed
    branches:
      - 'automated/flake-updates-*'

jobs:
  test:
    if: github.repository == 'dumspy/dotfiles'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event_name == 'workflow_run' && github.event.workflow_run.head_branch || '' }}
          repository: ${{ github.event_name == 'workflow_run' && github.event.workflow_run.head_repository.full_name || '' }}
          fetch-depth: 0

      - name: Install Nix
        uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable

      - name: Verify flake configuration
        run: nix develop -c nix flake check .

      - name: Lint Nix code with Alejandra
        run: nix develop -c alejandra --check .